<configuration>
    <packageSources>    
        <clear />
        <add key="AlbanianXrm.ImageAsBase64Const.MSBuild" value="..\AlbanianXrm.ImageAsBase64Const.MSBuild\bin\Debug" />
        <add key="AlbanianXrm.ImageAsBase64Const.MSBuild.Unix" value="../AlbanianXrm.ImageAsBase64Const.MSBuild/bin/Debug" />
         <add key="Release.AlbanianXrm.ImageAsBase64Const.MSBuild" value="..\AlbanianXrm.ImageAsBase64Const.MSBuild\bin\Release" />
        <add key="Release.AlbanianXrm.ImageAsBase64Const.MSBuild.Unix" value="../AlbanianXrm.ImageAsBase64Const.MSBuild/bin/Release" />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    </packageSources>
</configuration>